//colors
$bluishGray: #eff2f7;
$gray: #767676;
$lightGray: #fafafa;
$white: #ffffff;
$green: #1fb5ad;
$greenHover: #1ca59e;

//margins
.mx-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
